.ColorLegend {
    padding: 5px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-out;
}

.ColorLegend.disabled {
    padding: 5px;
    opacity: 0;
    transform: translateY(5px);
}

.ColorLegend canvas {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    border: 1px solid #0068ad;
    display: block;
    margin: 0 auto;
    z-index: 8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.ColorLegend .title {
    color: rgb(225, 225, 225);
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 16px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.ColorLegend svg {
    display: block;
    z-index: 5;
}