.FishSelect {
    width: 100%;
    height: 110px;
    overflow-x: auto;
    box-sizing: border-box;
    background-color: rgb(40, 40, 40);
    box-shadow: 0 0 10px rgb(10, 10, 10);
    border-top: 1px solid rgb(80, 80, 80);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.FishSelect .Fish {
    height: calc(100% - 16px);
    margin: 8px;
    padding: 7px;
    /* background-color: #00426e9d; */
    background: rgb(4,101,128);
    background: radial-gradient(circle, rgba(4,101,128,0.7749474789915967) 10%, rgba(0,66,110,0.7469362745098039) 90%);
    border: 1px solid #0068ad;
    box-sizing: border-box;
    border-radius: 10px;
    transition: background 0.15s linear, border 0.15s linear, box-shadow 0.15s linear, transform 0.15s linear, opacity 0.15s linear;
    cursor: pointer;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 5px #0f1d25de;
}

.FishSelect .Fish>div {
    white-space: nowrap;
}

.FishSelect .Fish:hover {
    background-color: #00426e;
    box-shadow: 3px 3px 7px #0f1d25ee;
    transform: translateY(-1px);
}

.FishSelect .Fish.Active {
    background-color: #0071bd;
    border: 1px solid #0083da;
    box-shadow: 4px 4px 8px #0f1d25ee;
    transform: translateY(-3px);
}

.FishSelect .Fish.Inactive {
    /* border: 1px solid #004574; */
    background: rgb(3,81,103);
    background: radial-gradient(circle, rgba(3,81,103,0.7987788865546218) 10%, rgba(0,52,87,1) 90%);
    opacity: 0.4;
    /* transform: translateY(1px); */
}

.FishSelect .Fish img {
    height: calc(100% - 13px)
}
.FishSelect .Fish div {
    height: 15px;
    font-size: 13px;
    /* font-weight: bold; */
    color: whitesmoke;
    text-shadow: 0 0 3px #002741b7;
}