.InfoOverlay {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(0px, -50%) translateY(-55px);
    max-width: calc(100% - 35px);
    width: 335px;
    color: whitesmoke;
    background-color: rgb(40, 40, 40);
    border: 1px solid rgb(20, 20, 20);
    box-shadow: 0px 0px 10px 0px rgb(5, 5, 5);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: transform 0.30s ease-out;
}

.InfoOverlay h1 {
    margin: 0;
    padding: 10px 30px;
    background-color: #003c7d;
    border-top-right-radius: 15px;
    border-bottom: 1px solid #001c3b;
}

.InfoOverlay h2 {
    margin: 0;
    padding: 10px 15px;
    background-color: rgb(35, 35, 35);
    box-shadow: inset 0px 0px 5px 0px rgba(5, 5, 5, 0.5);
    border-bottom: 1px solid rgb(15, 15, 15);
    font-style: italic;
    font-size: 20px;
    line-height: 120%;
}

.InfoOverlay p {
    margin: 0;
    padding: 15px 20px;
    text-align: justify;
}

.InfoOverlay.hidden {
    transform: translate(-100%, -50%) translateY(-55px);
}

.InfoOverlay.superhidden {
    transform: translate(-100%, -50%) translate(-35px, -55px);
}

.InfoOverlay .toggle {
    position: absolute;
    right: -35px;
    padding: 5px;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(12, 12, 12);
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 0 0 4px black;
    width: 35px;
    height: 150px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

.InfoOverlay .toggle:hover {
    background-color: rgb(30, 30, 30);
}

.InfoOverlay.hidden .toggle {
    background-color: #003c7d;
}

.InfoOverlay.hidden .toggle:hover {
    background-color: #0057b5;
}